{% extends "base_template.html" %}

{% block title %}Account{% endblock %}

{% block content %}

<p>Billetera</p>
<p>Transferencias</p>
<p>Cosas</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia, sint optio quam modi dicta vel cum id! In illo impedit assumenda atque iusto aut et mollitia optio nihil? Obcaecati, rerum? Tempore maxime, corrupti, illum minima dolorum facere odio velit labore vero perferendis dolor, aspernatur enim facilis at ratione sed officia necessitatibus! Nemo tempora magnam, dicta sint obcaecati eveniet pariatur laborum optio, blanditiis ab repellendus aliquid recusandae beatae fuga porro rerum.</p>

{% endblock %}